body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.5em; line-height: 1.4em; color: #333; font-family: 'Cambria', 'Verdana', 'Calibri'}

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2.3em;  }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.5em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
/*.cv h1 { font-size: 3em; }*/
/*.cv h2 { font-size: 2em; }*/
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
/*.cv .download { float: left; font-size: 1.5em; text-transform: uppercase; }*/

/* projects */
.projects { margin: 0px 0px 60px; }
.projects_row::after {
    content: "";
    clear: both;
    display: table;
}

/*.projects h1 { font-size: 3em; }*/
/*.projects h2 { font-size: 2em; }*/
/*.projects address, .projects .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.projects address, .projects p { font-size: 1.2em; }
.projects .download { float: right; font-size: .8em; text-transform: uppercase; }*/

.main{margin: 0em 0em 0em 13em}
.sidebar {
    background-color: white;
    margin: 130px auto;
    min-height: 320px;
    width: 940px;
    overflow: auto;
    padding: 0px 10px;
}
.left {
    float: left;
    width: 600px;
    margin-left: 20px;
}

.panel {
    background-color: red;
}

.tim{
    max-width: 90%;
}


/*.project_block:after {
    display: table;
    padding: 3px;
    margin: 10px;
    border: 1px solid black;
    width: 320px;
    /*writing-mode: horizontal-tb;*/
}*/

.project_block {
  float: left;
  width: 150px;
  padding: 7px;
  margin: 10px;
  border: 5px solid black;
}

/*.project_block_sm:after {
    display: table;
    padding: 7px;
    margin: 10px;
    border: 2px solid black;
    width: 320px;
    /*writing-mode: horizontal-tb;
    height: 150px;
}*/
figure {
    display: table;
    margin: 1px;

}

figure img {
    display: block;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: left;
    color: black;
    font-size: 1em;
    padding: 1px;
}



/** header **/
/* Header */
:root {
  --color1: gray;
  --color2: #CAAFCB;
  --color3: orange;
}
    #header {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -moz-justify-content: space-between;
        -webkit-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        background: var(--color1);
        color: var(--color2);
        height: 100%;
        overflow-y: auto;
        position: fixed;
        text-align: center;
        top: 0;
        width: 20em;
        left: 0;
    }

        #header h1, #header h2, #header h3, #header h4, #header h5, #header h6 {
            color: #DCEEE9;
        }

            #header h1 a, #header h2 a, #header h3 a, #header h4 a, #header h5 a, #header h6 a {
                color: #DCEEE9;
            }

        #header header p {
            color: var(--color3);
        }

        #header a {
            color: var(--color2);
        }

            #header a:hover {
                color: #ffffff !important;
            }

        #header > header {
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            padding: 3em;
        }

            #header > header .avatar {
                display: block;
                margin: 0 auto 2.25em auto;
                width: 15em;
            }

            #header > header h1 {
                font-size: 1.75em;
                margin: 0;
            }

            #header > header p {
                color: var(--color2);
                font-style: italic;
                font-family: 'Perpetua', 'Optima', 'Copperplate', 'Courier';
                margin: .9em 0 0 0;
            }

            #header > footer {
            -moz-flex-shrink: 0;
            -webkit-flex-shrink: 0;
            -ms-flex-shrink: 0;
            flex-shrink: 0;
            bottom: 0;
            left: 0;
            padding: 2em 0em 2em 0em;
            width: 100%;
        }

            #header > footer .icons {
                margin: 0;
            }

                #header > footer .icons li a {
                    color: var(--color3);
                }

        #header > nav {
            -moz-flex-grow: 1;
            -webkit-flex-grow: 1;
            -ms-flex-grow: 1;
            flex-grow: 1;
        }

            #header > nav ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }
                #header > nav ul li {
                    border-top: solid 2px var(--color4);
                    display: block;
                    padding: 0;
                }

                    #header > nav ul li a {
                        -moz-transition: none;
                        -webkit-transition: none;
                        -ms-transition: none;
                        transition: none;
                        border: 0;
                        color: #ffffff !important;
                        display: block;
                        padding: 0.85em 0;
                        text-decoration: none;
                    }

                        #header > nav ul li a.active {
                            background: #fff;
                            color: var(--color1) !important;
                        }

                    #header > nav ul li:first-child {
                        border-top: 0;
                    }