---
---

<div class="pub-row">
  <div class="col-sm-3 abbr">
    {% if entry.abbr %}
      {% if site.data.venues[entry.abbr] %}
        <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}">{{entry.abbr}}</a></abbr>
      {% else %}
        <abbr class="badge">{{entry.abbr}}</abbr>
      {% endif %}
    {% endif %}
  </div>

  <div class="col-sm-9">
    <div class="title">{{entry.title}}</div>
    <div class="author">
      {% assign author_array = entry.author | split: " and " %}
      {% for author in author_array %}
        {% assign author_name = author | strip %}
        {% if author_name contains "Chen, Hung-Ting" %}
          <strong>{{author_name}}</strong>
        {% else %}
          {{author_name}}
        {% endif %}
        {% unless forloop.last %},{% endunless %}
      {% endfor %}
    </div>

    <div class="periodical">
      {% if entry.type == "article" %}
        <em>{{entry.journal}}</em>
      {% else %}
        <em>{{entry.booktitle}}</em>
      {% endif %}
      {% if entry.year %}
        , {{entry.year}}
      {% endif %}
    </div>

    <div class="links">
      {% if entry.abstract %}
        <a class="abstract btn btn-sm z-depth-0" role="button">Abstract</a>
      {% endif %}
      {% if entry.arxiv %}
        <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
      {% endif %}
      {% if entry.url %}
        <a href="{{ entry.url }}" class="btn btn-sm z-depth-0" role="button">Paper</a>
      {% endif %}
      {% if entry.website %}
        <a href="{{ entry.website }}" class="btn btn-sm z-depth-0" role="button">Website</a>
      {% endif %}
      {% if entry.code %}
        <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
      {% endif %}
      {% if entry.poster %}
        <a href="{{ entry.poster }}" class="btn btn-sm z-depth-0" role="button">Poster</a>
      {% endif %}
      {% if entry.slides %}
        <a href="{{ entry.slides }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
      {% endif %}
    </div>

    {% if entry.abstract %}
      <div class="abstract hidden">
        <p>{{ entry.abstract }}</p>
      </div>
    {% endif %}
  </div>
</div> 